body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.container {
    width: 400px;
    background: white;
    padding: 20px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #bbb;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background: #0066ff;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.foto-container {
    text-align: center;
    margin-bottom: 20px;
}

#fotoPreview {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #777;
    object-fit: cover;
    margin-bottom: 10px;
}
